.bottomsection {
    padding-top: 30px;
    .buttons {
        display: flex;
        flex-direction: column;

        .first,
        .two,
        .three,
        .four,
        .five {
            background-color:$greyblack;
            height: 50px;
            margin-bottom: 10px;
            border-radius: 5px;
            font-family: $font-body;
            text-align: center;
        }
    }
}