.maincontainer {
    max-width: 368px;
    height: auto;
    background-color: $containerblack;
    align-items: center;
    padding:40px 30px 40px 30px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
 }