//Typography
$font-title: "Inter", sans-serif;
$font-body: "Inter", sans-serif;

//Color
$greyblack: #333333;
$luminousYellow: #C4F82A;
$white: #FFFFFF;
$containerblack: #1F1F1F;
$balck:#141414;
$grey:#E9E9E9;